body {
  background-color: #3d8662;
}

.card {
  border: 2px solid black;
  border-radius: 1vw;
  width: 8vw;
  height: 16vw;
  transform: translateX(-2vw);
}
.playerTurn img[class="card"] {
  cursor: pointer;
  width: 10vw;
  height: 20vw;
  transition: 0.15s;
  transform: translateY(-4vw);
}
.playerTurn img[class="card"]:hover {
  z-index: 1;
  transform: translate(-2.5vw, -10vw);
  height: 24vw;
  width: 12vw;
  border-radius: 1.5vw;
}

.priseGrid {
  position: absolute;
  left: 50%;
  width: 90vw;
  height: 4vw;
  transform: translate(-50%, -50%);
  justify-content: center;
  top: 50%;
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(auto-fit, 10vw);
}

.area {
  position: absolute;
  left: 50%;
  width: 80vw;
  height: 16vw;
  transform: translate(-50%, 0%);
  bottom: 0px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 5vw);
}

#btnPseudo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 70%);
}

#inputPseudo {
  position: absolute;
  width: 15rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
}

.text {
  position: absolute;
  font-size: 30px;
  color: black;
  text-align: center;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Roboto", sans-serif;
  max-width: 30vw;
}

.unclickable.card {
  filter: brightness(25%);
  cursor: not-allowed;
}

.otherCard {
  border: 2px solid black;
  border-radius: 1vw;
  width: 8vw;
  height: 16vw;
  transform: translateX(-50%);
  z-index: -1;
}

.playerCard {
  position: absolute;
  left: 50%;
  bottom: 12vw;
}

.player2 {
  position: absolute;
  left: 27.5vw;
  top: 16vw;
}

.player3 {
  position: absolute;
  left: 40vw;
  top: 0px;
}

.player4 {
  position: absolute;
  left: 60vw;
  top: 0px;
}

.player5 {
  position: absolute;
  left: 72.5vw;
  top: 16vw;
}

.pseudoText {
  font-size: 2.5vw;
  max-width: 20vw;
}
.pseudo2 {
  position: absolute;
  left: 0px;
  top: 22vw;
}
.pseudo3 {
  position: absolute;
  left: 28vw;
  top: 0px;
  text-align: center;
  max-width: 8vw;
  overflow-wrap: anywhere;
}
.pseudo4 {
  position: absolute;
  left: 64vw;
  top: 0px;
  text-align: left;
}
.pseudo5 {
  position: absolute;
  right: 0px;
  top: 22vw;
}
